:root{
    --PCprefxWidth: 700px;
    --MinWidth: 320px;
    --prefixHeight: 100px;
    --prefBorderColor: solid black;
    --numberSize: 50px;
}

body{
background-image: url(https://img-cdn.pixlr.com/pixlr-templates/64a26c58c4247e1cdde69e09/preview.webp);
background-repeat: no-repeat;
background-size: cover;	
background-attachment: fixed;
}

#main-container{
width: 760px;
padding: 20px;
border-radius: 20px;
height: fit-content;
margin: auto;
background-color: rgba(255, 248, 220, 0.6);
}

h1{
font-size: 50px;
font-family: sans-serif;
color: rgb(255, 48, 48);
text-shadow: 5px 4px 3px black;
}

#settings{
    height: 50px;
    width: 740px;
    border: 2px var(--prefBorderColor); border-radius: 10px;
    background-color: rgb(169, 233, 233);
    margin: auto;
}

#page-title{
text-align: center;
font-family: sans-serif;
}

h3{

}

footer{
background-color: rgba(136, 136, 136, 0.6);
border-radius: 10px;
margin-top: 2px;
padding-left: 10px;
padding-right: 10px;
}

#How-To-Play{
background-color: rgba(225, 0, 0, 0.6);
font-family: monospace;
font-size: 15px;
font-weight: italic;
border-radius: 10px;
width: var(--PCprefxWidth);  height: fit-content;
padding-left: 10px;  padding-right: 10px;
margin: auto;
margin-top: 20px;
margin-bottom: 40px;
}

#second-container{
    margin: auto;
    width: var(--PCprefxWidth);
    background-color: grey;
    height: fit-content;
    border: var(--prefBorderColor); border-radius: 40px;
}

#score-streak-container{
    margin: auto;
    background-color: rgb(82, 82, 82);
    border-color: 2px var(--prefBorderColor); border: 2px; border-radius: 40px; 
    display: flex; justify-content: center;
    width: var(--PCprefxWidth);
    height: var(--prefixHeight);
}

#screen{
    margin: auto;  margin-top: 20px; margin-top: 20px;
    display: flex;  justify-content: center;  align-items: center;
    background-image: linear-gradient( to bottom right, rgb(128, 226, 226), rgb(72, 168, 224));
    border: 2px var(--prefBorderColor);  border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-color: rgba(240, 248, 255, 0);
    height: 100px;  width: 600px;
    font-weight: bolder;  font-family: sans-serif;
    }

#display{
    font-size: 50px;
}

#keyboard{
    border: 2px var(--prefBorderColor); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
    width: 600px;
    height: fit-content;
    margin: auto; margin-bottom: 40px;
    background-color: rgb(206, 206, 206);
    align-items: center; 
}

.row{
    margin: auto;
    width: fit-content;
}

#score{
    background-color: green;
    width: 400px;
    border-top-left-radius: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--numberSize);
    display: flex;
    justify-content: center;
    align-items: center;
}


#streak{
    background-color: burlywood;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--numberSize);
    display: flex;
    justify-content: center;
    align-items: center; 
}

#counter{
    background-color: coral;
    width: 200px;
    border-top-right-radius: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--numberSize);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 5px;
    border: 2px var(--prefBorderColor); border-radius: 10px;
    width: 90px;
    height: 56px;
    text-align: center;
    vertical-align: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

button:hover{
    background-color: rgb(168, 172, 177);
}

#submit{
    height: 56px;
}
#zero{
    height: 56px;
}
#gen{
    height: 56px;
}
img {
    width: 50px;
    height: 50px;
  }
