:root{
    --PCprefxWidth: 700px;
    --MinWidth: 320px;
}

body{
background-image: linear-gradient(to bottom right, #78BCFF, #32FF6D);
background-repeat: no-repeat;
background-size: cover;	
}

#main-container{
width: 900px;
padding: 20px;
border-radius: 20px;
height: fit-content;
margin: auto;
background-color: rgba(255, 248, 220, 0.6);
}

h1{
font-size: 50px;
font-family: sans-serif;
color: rgb(255, 48, 48);
text-shadow: 5px 4px 3px black;
}

#page-title{
text-align: center;
font-family: sans-serif;
}

h3{

}

footer{
background-color: rgba(136, 136, 136, 0.6);
border-radius: 10px;
margin-top: 2px;
padding-left: 10px;
padding-right: 10px;
}

#How-To-Play{
background-color: rgba(225, 0, 0, 0.6);
font-family: monospace;
font-size: 15px;
font-weight: italic;
border-radius: 10px;
width: max-content;  height: fit-content;
padding-left: 10px;  padding-right: 10px;
margin: auto;
margin-top: 20px;
}

#screen{
margin: auto;  margin-top: 20px;
display: flex;  justify-content: center;  align-items: center;
background-image: linear-gradient( to bottom right, rgb(128, 226, 226), rgb(72, 168, 224));
border: 2px solid black;  border-radius: 20px;
height: 200px;  width: 400px;
font-weight: bolder;  font-family: sans-serif;
}

#rules{

}

#second-container{

}

#score-streak-container{

}

#score{

}

#streak{

}

#counter{

}

.button{
    
}